# Data Preparation for Algeria Waste Management Dashboard

This notebook prepares and cleans the waste management data for Algeria.

**Data Sources:**
- Total waste generation by activity (UN Environment Programme)
- Municipal waste recycling rate (OECD)

**Cleaning Steps:**
1. Load raw CSV files
2. Standardize column names
3. Filter data for Algeria and relevant countries for comparison
4. Handle missing values
5. Calculate derived metrics
6. Save cleaned datasets

In [76]:
# Import required libraries
import pandas as pd
import numpy as np
import os
from pathlib import Path

# Set display options
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 100)

print("Libraries imported successfully!")

Libraries imported successfully!

## 1. Load Raw Data

In [77]:
# Define paths
base_path = Path(r'c:\Users\LENOVO\Desktop\DataVisTp1')
data_path = base_path / 'data'

# Load total waste generation data
waste_gen_path = base_path / 'total-waste-generation' / 'total-waste-generation.csv'
df_waste_gen = pd.read_csv(waste_gen_path)

print(f"Total waste generation data shape: {df_waste_gen.shape}")
print(f"\nColumns: {df_waste_gen.columns.tolist()}")
print(f"\nFirst few rows for Algeria:")
df_waste_gen[df_waste_gen['Entity'] == 'Algeria'].head()

Total waste generation data shape: (1427, 10)

Columns: ['Entity', 'Code', 'Year', '12.4.2 - Total waste generation, by activity (Tonnes) - EN_TWT_GENV - Agriculture, forestry and fishing', '12.4.2 - Total waste generation, by activity (Tonnes) - EN_TWT_GENV - Activities of households as employers; undifferentiated goods- and services-producing activities of households for own use', '12.4.2 - Total waste generation, by activity (Tonnes) - EN_TWT_GENV - Construction', '12.4.2 - Total waste generation, by activity (Tonnes) - EN_TWT_GENV - Manufacturing', '12.4.2 - Total waste generation, by activity (Tonnes) - EN_TWT_GENV - Electricity, gas, steam and air conditioning supply', '12.4.2 - Total waste generation, by activity (Tonnes) - EN_TWT_GENV - Mining and quarrying', '12.4.2 - Total waste generation, by activity (Tonnes) - EN_TWT_GENV - Other service activities']

First few rows for Algeria:

,Entity,Code,Year,"12.4.2 - Total waste generation, by activity (Tonnes) - EN_TWT_GENV - Agriculture, forestry and fishing","12.4.2 - Total waste generation, by activity (Tonnes) - EN_TWT_GENV - Activities of households as employers; undifferentiated goods- and services-producing activities of households for own use","12.4.2 - Total waste generation, by activity (Tonnes) - EN_TWT_GENV - Construction","12.4.2 - Total waste generation, by activity (Tonnes) - EN_TWT_GENV - Manufacturing","12.4.2 - Total waste generation, by activity (Tonnes) - EN_TWT_GENV - Electricity, gas, steam and air conditioning supply","12.4.2 - Total waste generation, by activity (Tonnes) - EN_TWT_GENV - Mining and quarrying","12.4.2 - Total waste generation, by activity (Tonnes) - EN_TWT_GENV - Other service activities"
0,Algeria,DZA,2002,NaN,5200000.0,NaN,NaN,NaN,NaN,NaN
1,Algeria,DZA,2005,NaN,8500000.0,NaN,NaN,NaN,NaN,NaN
2,Algeria,DZA,2009,NaN,9600000.0,NaN,NaN,NaN,NaN,NaN
3,Algeria,DZA,2014,NaN,10477917.0,NaN,NaN,NaN,NaN,NaN
4,Algeria,DZA,2015,NaN,10857376.0,NaN,NaN,NaN,NaN,NaN

In [78]:
# Load recycling rate data
recycling_path = base_path / 'municipal-waste-recycling-rate' / 'municipal-waste-recycling-rate.csv'
df_recycling = pd.read_csv(recycling_path)

print(f"Recycling rate data shape: {df_recycling.shape}")
print(f"\nColumns: {df_recycling.columns.tolist()}")
print(f"\nCountries available: {df_recycling['Entity'].nunique()}")
print(f"\nAlgeria in recycling data: {'Algeria' in df_recycling['Entity'].values}")
df_recycling.head()

Recycling rate data shape: (687, 4)

Columns: ['Entity', 'Code', 'Year', 'Variable:% Recycling - MUNW']

Countries available: 38

Algeria in recycling data: False

      Entity Code  Year  Variable:% Recycling - MUNW
0  Australia  AUS  2003                       30.338
1  Australia  AUS  2009                       40.976
2  Australia  AUS  2011                       45.173
3  Australia  AUS  2015                       41.585
4    Austria  AUT  1990                       11.358

## 2. Data Cleaning and Standardization

In [79]:
# Rename columns for easier handling
column_mapping_waste = {
    'Entity': 'country',
    'Code': 'country_code',
    'Year': 'year',
    '12.4.2 - Total waste generation, by activity (Tonnes) - EN_TWT_GENV - Agriculture, forestry and fishing': 'agriculture_tonnes',
    '12.4.2 - Total waste generation, by activity (Tonnes) - EN_TWT_GENV - Activities of households as employers; undifferentiated goods- and services-producing activities of households for own use': 'households_tonnes',
    '12.4.2 - Total waste generation, by activity (Tonnes) - EN_TWT_GENV - Construction': 'construction_tonnes',
    '12.4.2 - Total waste generation, by activity (Tonnes) - EN_TWT_GENV - Manufacturing': 'manufacturing_tonnes',
    '12.4.2 - Total waste generation, by activity (Tonnes) - EN_TWT_GENV - Electricity, gas, steam and air conditioning supply': 'energy_tonnes',
    '12.4.2 - Total waste generation, by activity (Tonnes) - EN_TWT_GENV - Mining and quarrying': 'mining_tonnes',
    '12.4.2 - Total waste generation, by activity (Tonnes) - EN_TWT_GENV - Other service activities': 'services_tonnes'
}

df_waste_clean = df_waste_gen.rename(columns=column_mapping_waste)

print("Cleaned column names:")
print(df_waste_clean.columns.tolist())

Cleaned column names:
['country', 'country_code', 'year', 'agriculture_tonnes', 'households_tonnes', 'construction_tonnes', 'manufacturing_tonnes', 'energy_tonnes', 'mining_tonnes', 'services_tonnes']

In [80]:
# Rename recycling columns
df_recycling_clean = df_recycling.rename(columns={
    'Entity': 'country',
    'Code': 'country_code',
    'Year': 'year',
    'Variable:% Recycling - MUNW': 'recycling_rate_percent'
})

print("Recycling data columns:")
print(df_recycling_clean.columns.tolist())
df_recycling_clean.head()

Recycling data columns:
['country', 'country_code', 'year', 'recycling_rate_percent']

     country country_code  year  recycling_rate_percent
0  Australia          AUS  2003                  30.338
1  Australia          AUS  2009                  40.976
2  Australia          AUS  2011                  45.173
3  Australia          AUS  2015                  41.585
4    Austria          AUT  1990                  11.358

## 3. Filter for Algeria and Neighboring Countries

In [81]:
# Define countries for comparison (Algeria + neighbors + some developed countries for reference)
countries_of_interest = [
    'Algeria',
    'Morocco',
    'Tunisia',
    'Libya',
    'Egypt',
    'France',  # For developed country comparison
    'Germany',
    'Spain',
    'Italy'
]

# Filter waste generation data
df_waste_filtered = df_waste_clean[df_waste_clean['country'].isin(countries_of_interest)].copy()

print(f"Countries in filtered waste data: {df_waste_filtered['country'].unique()}")
print(f"\nAlgeria data years: {sorted(df_waste_filtered[df_waste_filtered['country'] == 'Algeria']['year'].unique())}")

Countries in filtered waste data: ['Algeria' 'Egypt' 'France' 'Germany' 'Italy' 'Morocco' 'Spain' 'Tunisia']

Algeria data years: [2002, 2005, 2009, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021]

In [82]:
# Filter recycling data
df_recycling_filtered = df_recycling_clean[df_recycling_clean['country'].isin(countries_of_interest)].copy()

print(f"Countries in filtered recycling data: {df_recycling_filtered['country'].unique()}")
print(f"\nNote: Algeria may not have recycling rate data in this dataset")

Countries in filtered recycling data: ['France' 'Germany' 'Italy' 'Spain']

Note: Algeria may not have recycling rate data in this dataset

## 4. Calculate Derived Metrics

In [83]:
# Calculate total waste per year (sum of all sectors)
waste_columns = ['agriculture_tonnes', 'households_tonnes', 'construction_tonnes', 
                 'manufacturing_tonnes', 'energy_tonnes', 'mining_tonnes', 'services_tonnes']

df_waste_filtered['total_waste_tonnes'] = df_waste_filtered[waste_columns].sum(axis=1)

# Show Algeria's total waste trend
algeria_waste = df_waste_filtered[df_waste_filtered['country'] == 'Algeria'][['year', 'households_tonnes', 'total_waste_tonnes']].sort_values('year')
print("Algeria Waste Generation Trend:")
print(algeria_waste)

Algeria Waste Generation Trend:
    year  households_tonnes  total_waste_tonnes
0   2002          5200000.0           5200000.0
1   2005          8500000.0           8500000.0
2   2009          9600000.0           9600000.0
3   2014         10477917.0          10477917.0
4   2015         10857376.0          10857376.0
5   2016         11273867.0          11273867.0
6   2017         11700525.0          11700525.0
7   2018         12137564.0          12137564.0
8   2019          8270000.0          12610000.0
9   2020          7730000.0          10820000.0
10  2021          7850000.0          11020000.0

In [84]:
# For per capita calculations, we'll need population data
# For now, let's use approximate Algeria population data
algeria_population = {
    2002: 31.36,  # millions
    2005: 33.06,
    2009: 35.27,
    2014: 38.93,
    2015: 39.54,
    2016: 40.15,
    2017: 40.76,
    2018: 41.39,
    2019: 42.01,
    2020: 42.64,
    2021: 43.28
}

# Add population column for Algeria
df_waste_filtered['population_millions'] = df_waste_filtered.apply(
    lambda row: algeria_population.get(row['year'], np.nan) if row['country'] == 'Algeria' else np.nan,
    axis=1
)

# Calculate per capita waste (kg per person per year)
df_waste_filtered['waste_per_capita_kg_year'] = (
    df_waste_filtered['total_waste_tonnes'] * 1000 / (df_waste_filtered['population_millions'] * 1000000)
)

# Calculate per capita per day
df_waste_filtered['waste_per_capita_kg_day'] = df_waste_filtered['waste_per_capita_kg_year'] / 365

# Show Algeria per capita data
algeria_per_capita = df_waste_filtered[df_waste_filtered['country'] == 'Algeria'][
    ['year', 'total_waste_tonnes', 'population_millions', 'waste_per_capita_kg_year', 'waste_per_capita_kg_day']
].sort_values('year')

print("Algeria Per Capita Waste:")
print(algeria_per_capita)

Algeria Per Capita Waste:
    year  total_waste_tonnes  population_millions  waste_per_capita_kg_year  \
0   2002           5200000.0                31.36                165.816327
1   2005           8500000.0                33.06                257.108288
2   2009           9600000.0                35.27                272.185994
3   2014          10477917.0                38.93                269.147624
4   2015          10857376.0                39.54                274.592210
5   2016          11273867.0                40.15                280.793699
6   2017          11700525.0                40.76                287.059004
7   2018          12137564.0                41.39                293.248707
8   2019          12610000.0                42.01                300.166627
9   2020          10820000.0                42.64                253.752345
10  2021          11020000.0                43.28                254.621072

    waste_per_capita_kg_day
0                  0.454291
1                  0.704406
2                  0.745715
3                  0.737391
4                  0.752307
5                  0.769298
6                  0.786463
7                  0.803421
8                  0.822374
9                  0.695212
10                 0.697592

## 5. Handle Missing Values

In [85]:
# Check missing values in waste data
print("Missing values in waste generation data:")
print(df_waste_filtered.isnull().sum())

# Check missing values in recycling data
print("\nMissing values in recycling data:")
print(df_recycling_filtered.isnull().sum())

Missing values in waste generation data:
country                      0
country_code                 0
year                         0
agriculture_tonnes          24
households_tonnes           11
construction_tonnes         32
manufacturing_tonnes        27
energy_tonnes               34
mining_tonnes               36
services_tonnes             68
total_waste_tonnes           0
population_millions         61
waste_per_capita_kg_year    61
waste_per_capita_kg_day     61
dtype: int64

Missing values in recycling data:
country                   0
country_code              0
year                      0
recycling_rate_percent    0
dtype: int64

In [86]:
# Document data quality for Algeria
algeria_data_quality = {
    'total_years': len(df_waste_filtered[df_waste_filtered['country'] == 'Algeria']),
    'year_range': f"{df_waste_filtered[df_waste_filtered['country'] == 'Algeria']['year'].min()} - {df_waste_filtered[df_waste_filtered['country'] == 'Algeria']['year'].max()}",
    'households_data_available': df_waste_filtered[df_waste_filtered['country'] == 'Algeria']['households_tonnes'].notna().sum(),
    'services_data_available': df_waste_filtered[df_waste_filtered['country'] == 'Algeria']['services_tonnes'].notna().sum(),
    'has_recycling_data': 'Algeria' in df_recycling_filtered['country'].values
}

print("Algeria Data Quality Summary:")
for key, value in algeria_data_quality.items():
    print(f"  {key}: {value}")

Algeria Data Quality Summary:
  total_years: 11
  year_range: 2002 - 2021
  households_data_available: 11
  services_data_available: 3
  has_recycling_data: False

## 6. Create Waste by Type Dataset

In [87]:
# Reshape data to create waste by type dataset for Algeria
algeria_waste_full = df_waste_filtered[df_waste_filtered['country'] == 'Algeria'].copy()

# Melt the data to long format for easier visualization
waste_by_type = algeria_waste_full[['year', 'agriculture_tonnes', 'households_tonnes', 
                                      'construction_tonnes', 'manufacturing_tonnes', 
                                      'energy_tonnes', 'mining_tonnes', 'services_tonnes']].melt(
    id_vars=['year'],
    var_name='waste_type',
    value_name='tonnes'
)

# Clean up waste type names
waste_by_type['waste_type'] = waste_by_type['waste_type'].str.replace('_tonnes', '').str.title()

# Remove rows with missing values
waste_by_type = waste_by_type.dropna()

print("Waste by Type (long format):")
print(waste_by_type.head(20))

Waste by Type (long format):
    year  waste_type      tonnes
11  2002  Households   5200000.0
12  2005  Households   8500000.0
13  2009  Households   9600000.0
14  2014  Households  10477917.0
15  2015  Households  10857376.0
16  2016  Households  11273867.0
17  2017  Households  11700525.0
18  2018  Households  12137564.0
19  2019  Households   8270000.0
20  2020  Households   7730000.0
21  2021  Households   7850000.0
74  2019    Services   4340000.0
75  2020    Services   3090000.0
76  2021    Services   3170000.0

## 7. Calculate Year-over-Year Changes

In [88]:
# Calculate YoY change for Algeria
algeria_sorted = df_waste_filtered[df_waste_filtered['country'] == 'Algeria'].sort_values('year').copy()

# Calculate YoY absolute change
algeria_sorted['yoy_change_tonnes'] = algeria_sorted['total_waste_tonnes'].diff()

# Calculate YoY percentage change
algeria_sorted['yoy_change_percent'] = (algeria_sorted['total_waste_tonnes'].pct_change() * 100)

# Calculate YoY for per capita
algeria_sorted['yoy_per_capita_change_percent'] = (algeria_sorted['waste_per_capita_kg_year'].pct_change() * 100)

print("Algeria Year-over-Year Changes:")
print(algeria_sorted[['year', 'total_waste_tonnes', 'yoy_change_tonnes', 'yoy_change_percent', 
                       'waste_per_capita_kg_year', 'yoy_per_capita_change_percent']])

Algeria Year-over-Year Changes:
    year  total_waste_tonnes  yoy_change_tonnes  yoy_change_percent  \
0   2002           5200000.0                NaN                 NaN
1   2005           8500000.0          3300000.0           63.461538
2   2009           9600000.0          1100000.0           12.941176
3   2014          10477917.0           877917.0            9.144969
4   2015          10857376.0           379459.0            3.621512
5   2016          11273867.0           416491.0            3.836019
6   2017          11700525.0           426658.0            3.784487
7   2018          12137564.0           437039.0            3.735208
8   2019          12610000.0           472436.0            3.892346
9   2020          10820000.0         -1790000.0          -14.195083
10  2021          11020000.0           200000.0            1.848429

    waste_per_capita_kg_year  yoy_per_capita_change_percent
0                 165.816327                            NaN
1                 257.108288                      55.056075
2                 272.185994                       5.864341
3                 269.147624                      -1.116284
4                 274.592210                       2.022900
5                 280.793699                       2.258436
6                 287.059004                       2.231284
7                 293.248707                       2.156248
8                 300.166627                       2.359062
9                 253.752345                     -15.462839
10                254.621072                       0.342352

## 8. Save Cleaned Datasets

In [89]:
# Create data directory if it doesn't exist
data_path.mkdir(exist_ok=True)

# Save cleaned datasets
df_waste_filtered.to_csv(data_path / 'clean_waste_generation.csv', index=False)
df_recycling_filtered.to_csv(data_path / 'clean_recycling_rate.csv', index=False)
waste_by_type.to_csv(data_path / 'clean_waste_by_type_algeria.csv', index=False)
algeria_sorted.to_csv(data_path / 'algeria_waste_with_yoy.csv', index=False)

print("✓ Cleaned datasets saved to data/ folder:")
print("  - clean_waste_generation.csv")
print("  - clean_recycling_rate.csv")
print("  - clean_waste_by_type_algeria.csv")
print("  - algeria_waste_with_yoy.csv")

✓ Cleaned datasets saved to data/ folder:
  - clean_waste_generation.csv
  - clean_recycling_rate.csv
  - clean_waste_by_type_algeria.csv
  - algeria_waste_with_yoy.csv

## 9. Data Summary and Validation

In [90]:
print("=" * 80)
print("DATA PREPARATION SUMMARY")
print("=" * 80)

print("\n1. WASTE GENERATION DATA:")
print(f"   - Countries included: {df_waste_filtered['country'].nunique()}")
print(f"   - Year range: {df_waste_filtered['year'].min()} - {df_waste_filtered['year'].max()}")
print(f"   - Algeria records: {len(df_waste_filtered[df_waste_filtered['country'] == 'Algeria'])}")

print("\n2. RECYCLING RATE DATA:")
print(f"   - Countries included: {df_recycling_filtered['country'].nunique()}")
print(f"   - Algeria has recycling data: {'Algeria' in df_recycling_filtered['country'].values}")

print("\n3. KEY INDICATORS CALCULATED:")
print("   ✓ Total waste generation (tonnes)")
print("   ✓ Waste per capita (kg/person/year)")
print("   ✓ Waste per capita (kg/person/day)")
print("   ✓ Year-over-year changes (%)")
print("   ✓ Waste by type/sector")

print("\n4. DATA QUALITY NOTES:")
print("   - Algeria has complete household waste data for 2002-2021")
print("   - Services sector data available for 2019-2021")
print("   - Other sectors (agriculture, construction, etc.) mostly missing for Algeria")
print("   - Algeria does NOT appear in the OECD recycling rate dataset")
print("   - Population data added from World Bank estimates")

print("\n" + "=" * 80)
print("Data preparation completed successfully!")
print("=" * 80)

================================================================================
DATA PREPARATION SUMMARY
================================================================================

1. WASTE GENERATION DATA:
   - Countries included: 8
   - Year range: 2000 - 2021
   - Algeria records: 11

2. RECYCLING RATE DATA:
   - Countries included: 4
   - Algeria has recycling data: False

3. KEY INDICATORS CALCULATED:
   ✓ Total waste generation (tonnes)
   ✓ Waste per capita (kg/person/year)
   ✓ Waste per capita (kg/person/day)
   ✓ Year-over-year changes (%)
   ✓ Waste by type/sector

4. DATA QUALITY NOTES:
   - Algeria has complete household waste data for 2002-2021
   - Services sector data available for 2019-2021
   - Other sectors (agriculture, construction, etc.) mostly missing for Algeria
   - Algeria does NOT appear in the OECD recycling rate dataset
   - Population data added from World Bank estimates

================================================================================
Data preparation completed successfully!
================================================================================